* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #FBFBFB;
    font-family: 'Montserrat', sans-serif;

}


.nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 1rem 5rem; 
}


.nav__logo img {
    width: 14rem;
    height: auto;
    margin-left: 6vw;
}


.nav__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem; 
    margin-right: 2vw;
    font-size: 1.2rem;
}


.nav__link {
    text-decoration: none;
    color: #1BB267;
    transition: color 0.3s;
    font-weight: bold;
}

.nav__link.active {
    border-bottom: 3px solid #008EAB; 
    padding-bottom: 4px;
    

}




.nav__link:hover {
    color: #ff0000; 
}

header {
    border-bottom: 2px solid #e0e0e0;
}

.btn{
    background-color: #004B79;
    color: #E5EEE9;
    width: 10vw;
    height: 4.4vh;
    font-size: 1.3rem;
    border-radius: 4px;
    margin-right: 16vh;
}

.p{
    font-family: 'Montserrat';
    font-size: 1.4rem;
    margin: 1rem 9.2vw;
    line-height: 37.5px;

}

.h1{
    color: #004B79;
    margin: 1rem 9.2vw;
    font-size: 2.5rem;

}


.inicial{
    margin-top: 12vh;
    padding: 1rem 0.5vw;
}


.h1-livros{
    color: #004B79;
    margin: 1rem 9.8vw;
    font-size: 2.5rem;


}


.livros-container{
    display: grid;
    justify-items: center;
    margin: 2rem 10vw;
    grid-template-columns: repeat(3,1fr);
    padding: 1rem;
    gap: 2rem;
}


.diferencial{
    display: flex;
    justify-content: space-around;
    margin: 2rem 5vw;
    align-content: center;
    
    
}

.libary{
    border-color: #004B79;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    text-align: right;
    width: 20vw;

}

.icon1{
    width: 4vw;          
    height: auto;
    display: block;
    color: #1BB267;

}


.atendimento{
    border-color: #004B79;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
}


.wi-fi{
    border-color: #004B79;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
}