* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #FBFBFB;
    font-family: 'Montserrat', sans-serif;

}


.nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 1rem 5rem; 
}


.nav__logo img {
    width: 14rem;
    height: auto;
    margin-left: 6vw;
}


.nav__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem; 
    margin-right: center;
    font-size: 1.2rem;
}


.nav__link {
    text-decoration: none;
    color: #1BB267;
    transition: color 0.3s;
    font-weight: bold;
}

.nav__link.active {
    border-bottom: 3px solid #008EAB; 
    padding-bottom: 4px;
    

}


header {
    border-bottom: 2px solid #e0e0e0;
}

.btn{
    background-color: #004B79;
    color: #E5EEE9;
    width: 10vw;
    height: 4.4vh;
    font-size: 1.3rem;
    border-radius: 4px;
    margin-right: 16vh;
}

.p{
    font-family: 'Montserrat';
    font-size: 1.4rem;
    margin: 1rem 9.2vw;
    line-height: 37.5px;

}

.h1{
    color: #004B79;
    margin: 1rem 9.2vw;
    font-size: 2.5rem;

}


.inicial{
    margin-top: 12vh;
    padding: 1rem 0.5vw;
}


.h1-livros{
    color: #004B79;
    margin: 1rem 9.8vw;
    font-size: 2.5rem;
    padding: 5rem 0 0 0;


}


.img-inicial {
    float: right;              
    width: 25vw;              
    height: auto;
    margin-right: 12vw;         
    margin-left: 2vw;          
    margin-top: -340px;        
    border-radius: 6px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}




.livros-container{
    display: grid;
    justify-items: center;
    margin: 3rem 25vw;
    grid-template-columns: repeat(3,1fr);
    padding: 1rem;
    gap: 5rem;
}

.livros-container > div{
    background-color: #f7f7f7;
    border: 2px solid #d6d6d6;
    border-radius: 8px;
    width: 220px;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.livro-img{
    width: 100%;
    height: 260px;
    border-radius: 4px;
    object-fit: cover;
}

.Disponivel{
    background-color: #1BB267;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.Disponivel:hover{
    background-color: #149a56;

}



.diferencial{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    background-color: #fff;
    padding: 8rem 0;
    
    
}



.libary{
    border-color: #004B79;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    text-align: center;
    width: 12vw;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #004B79;
    padding: 0% 1.0vw;
    border-radius: 6px;
    height: 10vh;

}




.atendimento{
    border-color: #004B79;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    text-align: center;
    width: 12vw;
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #004B79;
    padding: 0% 1.0vw;
    border-radius: 6px;
    height: 10vh;
}




.wi-fi{
    border-color: #004B79;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    text-align: center;
    width: 12vw;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border: 1px solid 149a56;
    padding: 0% 1.0vw;
    border-radius: 6px;
    height: 10vh;
}




.icon1{
    width: 3vw;          
    height: auto;
    display: block;
    color: #1BB267;
}

.icon2{
    width: 2vw;          
    height: auto;
    display: block;
    color: #1BB267;
}

.icon3{
    width: 2vw;          
    height: auto;
    display: block;
    color: #1BB267;
}



footer {
  background-color: #004B79;  
  color: #ffffff;            
  text-align: center;        
  padding: 15px 0;            
  font-family: Arial, sans-serif;
  font-size: 14px;
  position: static;  
  bottom: 0;
  width: 100%;
}

footer .autor {
  font-weight: bold;
  color: #1BB267; 
}


.unidades{
    text-align: center;
    padding: 60px 0;
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    
}

.unidade1{
    text-align: center;
    background-color: #ffffff;
    padding: 60px 0;
    font-family: "Montserrat", sans-serif;
}

.unidade{
    display: inline-block;
    width: 450px;
    height: 550px;
    background-color: #ffffff;
    margin: 0 30px;
    vertical-align: top;
    border: 2px solid #004B79;
    border-radius: 8px;
    overflow: hidden;
    
}



.h2-unidades {
  font-weight: 700;
  font-size: 30px;
  color: #0064A9;
  margin-bottom: 40px;
}


.unidade-img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  display: block;
  border-bottom: 2px solid #e6e6e6;
}

.unidade2{
  width: 100%;
  height: 450px;
  object-fit: cover;
  display: block;
  border-bottom: 2px solid #e6e6e6;
}




.unidade-nome {
  font-size: 17px;
  color: #003d63;
  font-weight: 600;
  margin-top: 2.2rem;
}
